<table width="100%" border="0" cellspacing="0" cellpadding="0" style="color:rgb(118,118,118);font-stretch:normal;font-size:13px;line-height:1.3em;font-family:Arial;margin:0px;padding:0px;height:1211px;width:469px;background:rgb(225,225,225);margin-left:auto;margin-right:auto;">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px;width:469px">
          <tbody>
            <tr>
              <td align="center" valign="top">
                <table align="center" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" style="margin:0px auto;max-width:600px">
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#e1e1e1" style="height:35px">&nbsp;</td>
                    </tr>
                    <tr>
                      <td bgcolor="#ffffff">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tbody>
                            <tr>
                              <td width="30%" valign="bottom"><a href="http://www.vivareal.com.br/" title="VivaReal portal imobiliário" style="display:block;padding:18px 0px 18px 25px" target="_blank"><img border="0" src="https://ci3.googleusercontent.com/proxy/kXzgkyhqUf97Y99FWWNEL4pxjeekhB3r0QyfVaAqoSXgbF156KzLsplOBZ6hnHYB-QL-rwt-M10mBB0VsDHQLN2wSdlZET_X1kxknXE0=s0-d-e1-ft#http://cdnfiles.vivareal.com/img/vr_br/email/logo-vr.gif" style="border:none;display:block;max-height:46px" class="CToWUd"></a></td>
                              <td valign="bottom" style="color:rgb(102,102,102);padding:0px 20px 20px;text-align:right"><span>19/09/2015</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div style="font-family:Arial,Verdana,'sans serif';font-size:12px">
                          <h1 style="margin:0px;font-size:18px;color:rgb(84,133,46);padding-bottom:5px">Saiba o que <a href="http://hot-leads.vivareal.com/<%= userId %>/<%= propertyId %>/<%= hash %>/<%= timestamp %>">este usu&aacute;rio</a> est&aacute; buscando</h1>
                          <p style="margin:0px;color:rgb(102,102,102)">Um usuário está interessado no seu imóvel: 5534</p>
                          <p style="margin:10px 0px 4px;color:rgb(102,102,102)">Veja a mensagem abaixo:</p>
                          <h2 style="margin:0px;font-size:13px;padding:6px 15px;color:rgb(255,255,255);background-color:rgb(102,102,102)">Informações do usuário</h2>
                          <p style="margin:0px;padding:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(197,211,150);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);color:rgb(0,0,0);background:rgb(245,250,235)"><strong style="color:rgb(82,102,23)">Nome:</strong>&nbsp;Eric Torti</p>
                          <p style="margin:0px;padding:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(197,211,150);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);color:rgb(0,0,0);background:rgb(245,250,235)"><strong style="color:rgb(82,102,23)">Email:</strong>&nbsp;<a href="mailto:%22$%7BurlEncodedName%7D%22%3c$%7BcloakedSearcherAddress%7D%3e" target="_blank">eric.torti@vivareal.com</a></p>
                          <p style="margin:0px;padding:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(197,211,150);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);color:rgb(0,0,0);background:rgb(245,250,235)"><strong style="color:rgb(82,102,23)">Telefone:</strong>&nbsp;11 9 9999-9999</p>
                          <p style="margin:0px;padding:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(197,211,150);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);color:rgb(0,0,0);background:rgb(245,250,235)"><strong style="color:rgb(82,102,23)">Interessado(a) em:</strong>&nbsp;Comprar</p>
                          <p style="margin:0px;padding:10px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgb(197,211,150);border-top-width:1px;border-top-style:solid;border-top-color:rgb(255,255,255);color:rgb(0,0,0);background:rgb(245,250,235)"><strong style="color:rgb(82,102,23)">Mensagem:</strong>&nbsp;Olá, tenho interesse nesse imóvel. Poderia por favor me mandar mais informações? Obrigado!</p>
                          <h2 style="margin:10px 0px 2px;font-size:13px;padding:6px 15px;color:rgb(255,255,255);background-color:rgb(102,102,102)">Informações do imóvel:</h2>
                          <table cellpadding="0" cellspacing="0" width="100%" style="border:1px solid rgb(102,102,102);padding:20px">
                            <tbody>
                              <tr>
                                <td width="140px" align="left" valign="top"><img src="https://ci5.googleusercontent.com/proxy/YXimsVDSuMrK2oUhrx-xlP6EPfQXxJxwoAdFlejmUSTRFAFztR79dc-9SDviD14TjRrFEMc7ca6gKrR4HU6isthriazwirCLKdXa6ydOZdcD2nN2i-8b3DwcaQwVs_WAacKGa8HfYAZnTD4PCaUYRRqNFt5kA8s_Msy0zJ1rPoOB0dZtMqelNZnH_b5kORZzCe0a=s0-d-e1-ft#http://resizedimgs.vivareal.com/1r-XN4ZzDLJCVOsfTlgUCLUuY_Y=/fit-in/870x653/vr.images.sp/7b9e5efed1fc87d8d30656735ca76e53.jpg" width="123" height="92" style="margin-right:0px" class="CToWUd"><br></td>
                                <td valign="top">
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(242,242,242)"><strong>Tipo de Negócio:</strong>&nbsp;Compra</p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);background:rgb(238,238,238)"><strong style="color:rgb(68,68,68)">Imóvel no VivaReal:</strong><font color="#444444">&nbsp;</font><font color="#556a17"><a href="http://fiddle.jshell.net/_display/$%7BurlDetalle%7D" target="_blank">55342414</a></font></p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(238,238,238)"><strong>ID Imóvel:</strong>&nbsp;5534</p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(238,238,238)"><strong>Preço Venda:</strong>&nbsp;R$ 1.500.00</p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(238,238,238)"><strong style="line-height:1.3em">Tipo de Imóvel:</strong><span style="line-height:1.3em">&nbsp;Apartamento, 169 m2, 4 quartos, 5 banheiros</span><br></p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(238,238,238)"><strong>Endereço:</strong>&nbsp;Rua Palestina, 330 - São Paulo - SP - 095400-000</p>
                                  <p style="margin:0px;padding:5px 10px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(255,255,255);color:rgb(68,68,68);background:rgb(238,238,238)"><span style="color:rgb(118,118,118);line-height:1.3em;background-color:rgb(225,225,225)">Apartamento com 04 dormitórios, 04 suítes, 04 vagas, muito bem decorado, com móveis embutidos de alta qualidade em um condomínio completo. Sala de ginástica, piscina, quadra poliesportiva, salão de festas na cobertura com cozinha, churrasqueira e uma bela vista da cidade.</span><br></p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding:30px 0px;text-align:center">
                <a href="http://www.vivareal.com.br/" title="VivaReal portal imobiliário" target="_blank"><img border="0" src="https://ci4.googleusercontent.com/proxy/wBYwvJEuRE3v96LSOyFN-BWYUEPRgHlv-q170StkEvJvBlG9DNjqIBVr0UHd75qVTXbGfooxhVNncSvXYS7N6d0NFpWxGq4D17U0ubsvk-E=s0-d-e1-ft#http://cdnfiles.vivareal.com/img/vr_br/email/grey_logo.png" class="CToWUd"></a>
                <p style="font-size:11px;color:rgb(132,132,132)">Copyright © 2013, VivaReal Inc. -&nbsp;<span>VivaReal. Todos os direitos reservados.</span></p>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px;color:rgb(132,132,132);padding-bottom:30px;text-align:center">VivaReal Brasil Rua da Consolação, 1681 (6° andar)<br>Consolação - SP - Cep 01301-100, (11) 3150-4646</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
